.modal {
  display: flex;
  gap: 41px;
  position: absolute;
  width: 335px;
  height: 105px;
  left: 20px;
  top: 100px;
  background: #ffffff;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.modal__content {
  padding: 18px 0px 19px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.modal__bonus-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.modal__info {
  display: flex;
  justify-content: space-between;
  color: #979797;
  gap: 8px;
}

.modal__fire {
  margin-top: 2.5px;
}

.modal__btn {
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  border: 1px solid #d4343f;
  border-radius: 50%;
  position: relative;
  top: 37%;
  cursor: pointer;
}

.modal__btn-line {
  position: absolute;
  right: 46%;
  top: 31%;
  height: 8.6px;
  width: 1px;
  background-color: #d4343f;
  transform: rotate(129deg);
}

.modal__btn-line_left {
  top: 47%;
  transform: rotate(46deg);
}
